{% extends 'base.html' %}
{% block content %}
{% load static from staticfiles %}

<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="search_bar">
        <div class="col-lg-6">
            <div class="dd-group">
                <li class="dropdown">
                <button class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" id="dd" type="button" aria-expanded="false">Tegund</button>
                  <div class="dropdown-content">
                        <a href="#">Mitt svæði</a>
                        <a href="#">Mitt svæði</a>
                        <a href="#">Mitt svæði</a>
                        <a href="#">Mitt svæði</a>
                  </div>
                </li>
                <li class="dropdown">
                <button class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" id="dd" type="button" aria-expanded="false">Tegund</button>
                  <div class="dropdown-content">
                        <a href="#">Mitt svæði</a>
                        <a href="#">Mitt svæði</a>
                        <a href="#">Mitt svæði</a>
                  </div>
                </li>
                <li class="dropdown">
                <button class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" id="dd" type="button" aria-expanded="false">Tegund</button>
                  <div class="dropdown-content">
                        <a href="#">Mitt svæði</a>
                  </div>
                </li>
                <li class="dropdown">
                <button class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" id="dd" type="button" aria-expanded="false">Tegund</button>
                  <div class="dropdown-content">
                        <a href="#">Mitt svæði</a>
                  </div>
                </li>
                <li class="dropdown">
                <button class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" id="dd" type="button" aria-expanded="false">Tegund</button>
                  <div class="dropdown-content">
                        <a href="#">Mitt svæði</a>
                  </div>
                </li>
                <li class="dropdown">
                <button class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" id="dd" type="button" aria-expanded="false">Tegund</button>
                  <div class="dropdown-content">
                        <a id="dd-content" href="#">Mitt svæði</a>
                        <a id="dd-content" href="#">Mitt svæði</a>
                        <a id="dd-content" href="#">Mitt svæði</a>
                  </div>
                </li>
                <button class="btn btn-default" id="hreinsa" type="button">Hreinsa</button>
            </div>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Stimplið inn götuheiti...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Leita</button>
              </span>
            </div><!-- /input-group -->
          </div><!-- /.col-lg-6 -->
      </div>
    </div>
  </div>
</header>
<body>
<section class="py-5">
  <div class="container">
    <h1 class="font-weight-light">Opin hús á næstunni</h1>
    <div class="opin-hus-container">
        <p>hello</p>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <h1 class="font-weight-light">Nýlegar eignir</h1>
    <div class="opin-hus-container">
        <p>hello</p>
    </div>
  </div>
</section>
</body>

<section class="py-5">
  <div class="container">
    <h1 class="font-weight-light">Starfsmenn</h1>
    <div class="opin-hus-container">
        <p>hello</p>
    </div>
  </div>
</section>
</body>

{% endblock %}