{% extends 'base.html' %}
{% block content %}
{% load static from staticfiles %}

<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
        {% block search %}
            {% include 'search.html' %}
        {% endblock %}
    </div>
  </div>
</header>
<body>
<section class="py-5">
  <div class="container">
    <h1 class="font-weight-light">Opin hús á næstunni</h1>
    <div class="opin-hus-container">
       <div class="eignir">
            {% for eign in eignir %}
                {% include 'eignir/eign.html' with eign=eign %}
            {% endfor %}
       </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <h1 class="font-weight-light">Nýlegar eignir</h1>
    <div class="opin-hus-container">
       <div class="eignir">
            {% for eign in eignir %}
                {% include 'eignir/eign.html' with eign=eign %}
            {% endfor %}
       </div>
    </div>
  </div>
</section>
</body>

<section class="py-5">
  <div class="container">
    <h1 class="font-weight-light">Starfsmenn</h1>
    <div class="opin-hus-container">
        <div class="starfsmenn">
            {% for starfsmadur in starfsmenn %}
                {% include 'starfsmenn/starfsmadur.html' with starfsmadur=starfsmadur %}
            {% endfor %}
        </div>
    </div>
  </div>
</section>
</body>

{% endblock %}