{% extends 'base.html' %}

{% block content %}

<div class="center">
    {% if user.is_authenticated %}
        <div>
            <img class="profile-img" src="{{ user.profile.mynd }}" />
            <h3>{{ user.profile.fullt_nafn }}</h3>
            <p>Kennitala: {{ user.profile.kennitala }}</p>
            <p>Heimilisfang: {{ user.profile.heimilisfang }}</p>
            <p>Borg: {{ user.profile.borg }}</p>
            <p>Land: {{ user.profile.land }}</p>
            <p>Póstnúmer: {{ user.profile.postnr }}</p>
            <p>Sími: {{ user.profile.simi }}</p>
            <p>Netfang: {{ user.profile.netfang }}</p>
        </div>

    {% endif %}

    <a href="{% url 'profile' %}" class="btn">Breyta upplýsingum</a>

</div>


{% endblock %}
