{% extends 'base.html' %}
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
{% block content %}

<div class="greidslusida">
    {% if user.is_authenticated %}
        <div>
            <img class="profile-img" src="{{ user.profile.mynd }}" />
            <h3>{{ user.profile.fullt_nafn }}</h3>
            <p>Kennitala: {{ user.profile.kennitala }}</p>
            <p>Heimilisfang: {{ user.profile.heimilisfang }}</p>
            <p>Borg: {{ user.profile.borg }}</p>
            <p>Land: {{ user.profile.land }}</p>
            <p>Póstnúmer: {{ user.profile.postnr }}</p>
            <p>Sími: {{ user.profile.simi }}</p>
            <p>Netfang: {{ user.profile.netfang }}</p>
        </div>

        <div>
            <div class="column">
                <a href="{% url 'profile' %}" class="btn">Breyta upplýsingum</a>
            </div>
            <div class="column">
                <a href="leitarsaga" class="btn">Leitar saga</a>
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}
