{% extends "base.html" %}
{% block content %}
    <h1>{{ eign.heimilisfang }}   {{ eign.postnumer }} {{ eign.baejarfelag }}</h1>
    <img class="" src="{{ eign.eignmynd_set.first.mynd }}" />
    <h4>Verð: {{ eign.verd }}Kr.</h4>
    <p>Brunabotamat: {{ eign.brunabotamat }}</p>
    <p>Fasteignamat: {{ eign.fasteignamat }}</p>
    <p>{{ eign.tegund }}</p>
    <p>Lýsing: {{ eign.lysing }}</p>
    <p>Stærd: {{ eign.staerd }} fm</p>
    <p>Byggingarar: {{ eign.byggingarar }}</p>
    <p>Herbergi: {{ eign.fjoldi_herbergja }}</p>
    <p>Baðherbergi: {{ eign.fjoldi_badherberga }}</p>
    <p>Svefnherbergi: {{ eign.fjoldi_svefnherberga }}</p>

    <!-- -->

    {% if eign.laust_nuna is not 'false' %}
        <p>Laus strax</p>
    {% endif %}
    {% if opidhus %}
        <p>Opið hús frá {{ opidhus.fra }} til {{ opidhus.til }}</p>
    {% endif %}
    {% if eign.gardur is not 'false' %}
        <p>Gaður</p>
    {% endif %}
    {% if eign.serinngangur is not 'false' %}
        <p>Inngangur: Sérinngangur</p>
    {% endif %}
    {% if eign.sameigninlegur_inngangur is not 'false' %}
        <p>Inngangur: Sameigninlegur inngangur</p>
    {% endif %}
    {% if eign.solpallur is not 'false' %}
        <p>Sólpallur</p>
    {% endif %}
    {% if eign.svalir is not 'false' %}
        <p>Svalir</p>
    {% endif %}
    {% if eign.hjolastolaadgengi is not 'false' %}
        <p>Hjólastolaaðgengi</p>
    {% endif %}
    {% if eign.lyfta is not 'false' %}
        <p>Lyfta</p>
    {% endif %}
    {% if eign.bilskur is not eign.bilskur.filter() %}
        <p>Bílskur</p>
    {% endif %}

    <!-- -->

    {% for eignmynd in eign.eignmynd_set.all %}
        <img src="{{ eignmynd.mynd }}" class="eign-img" />
    {% endfor %}
{% endblock %}