{% extends "base.html" %}
{% block content %}
    <h1>{{ eign.heimilisfang }}   {{ eign.postnumer }} {{ eign.baejarfelag }}</h1>
    <img src="https://i.imgur.com/{{ eign.eignmynd_set.first.mynd }}.jpg"/>
    <!-- Check if eign is a foreign key in the opinhus table -->
    {% if eign.er_opid.exists and dagur.date < opidhus.first.til.date and dagur.time < opidhus.first.til.time  %}
        <!-- If it is... show information about the open house -->
        <h1>Opiðhús:  frá:{{ opidhus.first.fra }} - Til:{{ opidhus.first.til }}</h1>
    {% endif %}

    <h4>Verð: {{ eign.verd }}Kr.</h4>
    <p>Brunabotamat: {{ eign.brunabotamat }}</p>
    <p>Fasteignamat: {{ eign.fasteignamat }}</p>
    <p>{{ eign.tegund }}</p>
    <p>Lýsing: {{ eign.lysing }}</p>
    <p>Stærd: {{ eign.staerd }} fm</p>
    <p>Byggingarar: {{ eign.byggingarar }}</p>
    <p>Herbergi: {{ eign.fjoldi_herbergja }}</p>
    <p>Baðherbergi: {{ eign.fjoldi_badherberga }}</p>
    <p>Svefnherbergi: {{ eign.fjoldi_svefnherberga }}</p>

    <!-- -->

    {% if eign.laust_nuna %}
        <p>Laus strax</p>
    {% endif %}
    {% if eign.gardur %}
        <p>Gaður</p>
    {% endif %}
    {% if eign.serinngangur %}
        <p>Inngangur: Sérinngangur</p>
    {% endif %}
    {% if eign.sameigninlegur_inngangur %}
        <p>Inngangur: Sameigninlegur inngangur</p>
    {% endif %}
    {% if eign.solpallur %}
        <p>Sólpallur</p>
    {% endif %}
    {% if eign.svalir %}
        <p>Svalir</p>
    {% endif %}
    {% if eign.hjolastolaadgengi %}
        <p>Hjólastolaaðgengi</p>
    {% endif %}
    {% if eign.lyfta %}
        <p>Lyfta</p>
    {% endif %}
    {% if eign.bilskur %}
        <p>Bílskúr</p>
    {% endif %}

    {% if user.is_authenticated %}

        <a href="/pantanir/{{ eign.id }}">Kaupa núna</a>

    {% else %}

        <a href="{% url 'login' %}">Kaupa núna</a>

    {% endif %}

    <!-- -->

    {% for eignmynd in eign.eignmynd_set.all %}
        <img src="https://i.imgur.com/{{ eignmynd.mynd }}.jpg"/>
    {% endfor %}
{% endblock %}