{% extends 'base.html' %}

{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

{% block content %}
    <script src = {% static "js/order_by_price.js" %}> </script>
    <li class="dropdown">
        <button class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" id="dd" type="button" aria-expanded="false">Raða eftir</button>
        <div class="dropdown-content">
            <a href="{% url 'sorted-name-asc' %}">Nafn Asc</a>
            <a href="{% url 'sorted-name-desc' %}">Nafn Desc</a>
            <a href="{% url 'sorted-price-desc' %}">Verð Desc</a>
            <a href="{% url 'sorted-price-asc' %}">Verð Asc</a>
        </div>
    </li>
    {% block search %}
        {% include 'search.html' %}
    {% endblock %}
    <div class="eignir">
        {% for eign in eignir %}
            {% include 'eignir/eign.html' with eign=eign %}
        {% endfor %}
    </div>

{% endblock %}

