{% extends 'base.html' %}

{% block content %}

    <div>
        <h3>Við erum hópur 36 í verklegu námskeiði 2 og þetta er okkar síða þar sem þú getur keypt farsteignir beynt af netinu
            án þess að þurfa að hringa/hafa samband við neinn bara nokkur cliks og þú gættir verið búin/n að kaupa þína drauma eign.</h3>
        <ul>
            <li>Andri Lórenzson</li>
            <li>Birgitta Rún Friðriksdóttir</li>
            <li>Fannar Leó Örvarsson</li>
            <li>Sigurgeir Sigurðsson</li>
            <li>Vianey G Gonzalez Leal</li>
        </ul>
    </div>

{% endblock %}