<div class="well-eign">
    <a href="/eignir/{{ eignstarfsmenn.eign.id }}">
        <img class="eign-img" src="https://i.imgur.com/{{ eignstarfsmenn.eign.eignmynd_set.first.mynd }}.jpg"/>
        <div class="well-eign-p">
            <h4>{{ eignstarfsmenn.eign.heimilisfang }}   {{ eignstarfsmenn.eign.postnumer }} {{ eignstarfsmenn.eign.baejarfelag }}</h4>
            <p><strong>verð:</strong> {{ eignstarfsmenn.eign.verd }}</p>
            <p><strong>stærd:</strong> {{ eignstarfsmenn.eign.staerd }} fermetrar</p>
        </div>
    </a>
</div>