
            <!-- contact info in two columns -->

        <div class="container-fluid bg-grey" id="footer">
            <div class="elements-container" >
  <h1 class="text-center">Hafðu <strong>Sambanð</strong></h1>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us and we'll get back to you within 24 hours.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Reykjavik </p>
      <p><span class="glyphicon glyphicon-phone"></span> 555 5555</p>
      <p><span class="glyphicon glyphicon-envelope"></span> myemail@eitthvad.is</p>
    </div>
    <div class="col-sm-7">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Nafn" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-left" type="submit">Senda</button>
        </div>
      </div>
    </div>
  </div>
</div>

    </div>