{% block search %}


<div>
    <form class="form-inline" method="GET" action="{% url 'index-eignir' %}">

        <li class="dropdown" id="dropdown2">
            <button class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" id="dd" type="button" aria-expanded="false">Svæði</button>
            <div class="dropdown-content">
                <label class="container">Reykjavík
                    <input type="checkbox" name="reykjavik" {% if request.GET.reykjavik %}checked {% endif %}>
                    <span class="checkmark"></span>
                </label>
                <label class="container">Kópavogur
                    <input type="checkbox" name="kopavogur" {% if request.GET.kopavogur %}checked {% endif %}>
                    <span class="checkmark"></span>
                </label>
                <label class="container">Akranes
                    <input type="checkbox"  name="akranes" {% if request.GET.akranes %}checked {% endif %}>
                    <span class="checkmark"></span>
                </label>
                <label class="container">Selfoss
                    <input type="checkbox" name="selfoss" {% if request.GET.selfoss %}checked {% endif %}>
                    <span class="checkmark"></span>
                </label>
            </div>
        </li>
        <li class="dropdown" id="dropdown2">
            <button class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" id="dd" type="button" aria-expanded="false">Tegund</button>
            <div class="dropdown-content">
                <label class="container">Einbýli
                    <input type="checkbox" name="einbyli" {% if request.GET.einbyli %}checked {% endif %}>
                    <span class="checkmark"></span>
                </label>
                <label class="container">Fjölbýli
                    <input type="checkbox" name="fjolbyli" {% if request.GET.fjolbyli %}checked {% endif %}>
                    <span class="checkmark"></span>
                </label>
                <label class="container">Raðhús
                    <input type="checkbox" name="radhus" {% if request.GET.radhus %}checked {% endif %}>
                    <span class="checkmark"></span>
                </label>
                <label class="container">Hæð
                    <input type="checkbox" name="haed" {% if request.GET.haed %}checked {% endif %}>
                    <span class="checkmark"></span>
                </label>
                <label class="container">Sumarhús
                    <input type="checkbox" name="sumarhus" {% if request.GET.sumarhus %}checked {% endif %}>
                    <span class="checkmark"></span>
                </label>
            </div>
        </li>



        <input class="form-control mr-sm-2" type="search"
               placeholder="Stimplið inn götuheiti" aria-label="Search" name="search"
               value="{{ request.GET.search }}">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>

    </form>
</div>
{% endblock %}