{% block search %}
<div class="well-lg" id="searchbar">
    <div class="col-lg-6">
        <div class="dd-group">
            <li class="dropdown">
            <button class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" id="dd" type="button" aria-expanded="false">Svæði</button>
            <div class="dropdown-content">
                <label class="container">Reykjavík
                    <input type="checkbox" name="reykjavik">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Kópavogur
                    <input type="checkbox" name="kopavogur">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Akranes
                    <input type="checkbox">
                    <span class="checkmark" name="akranes"></span>
                </label>
                <label class="container">Selfoss
                    <input type="checkbox" name="selfoss">
                    <span class="checkmark"></span>
                </label>
            </div>
        </li>
        <li class="dropdown" id="dropdown2">
            <button class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" id="dd" type="button" aria-expanded="false">Tegund</button>
            <div class="dropdown-content">
                <label class="container">Einbýli
                    <input type="checkbox" name="einbyli">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Fjölbýli
                    <input type="checkbox" name="fjolbyli">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Raðhús
                    <input type="checkbox" name="radhus">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Hæð
                    <input type="checkbox" name="haed">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Sumarhús
                    <input type="checkbox" name="sumarhus">
                    <span class="checkmark"></span>
                </label>
              </div>
            </li>
            <button class="btn btn-default" id="hreinsa" type="button">Hreinsa</button>
        </div>
        <div class="input-group form-inline">
          <input type="text" class="form-control" placeholder="Stimplið inn götuheiti...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Leita</button>
          </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div>
{% endblock %}