{% block search %}
<div class="search_bar">
    <div class="col-lg-6">
        <div class="dd-group">
            <li class="dropdown">
            <button class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" id="dd" type="button" aria-expanded="false">Svæði</button>
              <div class="dropdown-content">
                    <label class="container">Reykjavík
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Kópavogur
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Akranes
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    <label class="container">Selfoss
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
              </div>
            </li>
            <li class="dropdown">
            <button class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" id="dd" type="button" aria-expanded="false">Tegund</button>
              <div class="dropdown-content">
                <label class="container">Einbýli
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Fjölbýli
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Raðhús
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
              </div>
            </li>
            <li class="dropdown">
            <button class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" id="dd" type="button" aria-expanded="false">Stærð</button>
              <div class="dropdown-content">
                  <form action="/action_page.php">
                    Frá: <input type="text" name="s_from"><br>
                    Til: <input type="text" name="s_to"><br>
                    <input type="submit" value="Submit">
                  </form>
              </div>
            </li>
            <li class="dropdown">
            <button class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" id="dd" type="button" aria-expanded="false">Verð</button>
              <div class="dropdown-content">
                  <form action="/action_page.php">
                    Frá: <input type="text" name="p_from"><br>
                    Til: <input type="text" name="p_to"><br>
                    <input type="submit" value="Submit">
                  </form>
              </div>
            </li>
            <li class="dropdown">
            <button class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" id="dd" type="button" aria-expanded="false">Herbergi</button>
              <div class="dropdown-content">
                  <form action="/action_page.php">
                    Fjöldi: <input type="text" name="amount"><br>
                    <input type="submit" value="Submit">
                  </form>
              </div>
            </li>
            <li class="dropdown">
            <button class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" id="dd" type="button" aria-expanded="false">Annað</button>
              <div class="dropdown-content">
                <label class="container">Bílskúr
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Lyfta
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="container">Sérinngangur
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
              </div>
            </li>
            <button class="btn btn-default" id="hreinsa" type="button">Hreinsa</button>
        </div>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Stimplið inn götuheiti...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Leita</button>
          </span>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div>
{% endblock %}